.card {
    padding: 20px 10px 25px 10px;
    border: none;
    margin: 20px 0;
    box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.15);
    position: relative;
}

.card > .card-header-absolute {
    position: absolute;
    left: 10px;
    top: -10px;
    background-color: #eaeaea;
    padding: 0px 10px;
    font-weight: 600;
    border-radius: 3px;
}

.padding-table {
    padding: 24px
}

.align-center {
    text-align: center
}
.unknow{
    color: orange;
    opacity: 0.5
}